@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@keyframes darikanan {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes darikiri {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes dariatas {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes daribawah {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

.navbar {
  position: sticky;
  background-color: rgb(232, 231, 231);
  max-width: 100%;
  height: 11vh;
  display: flex;
  top: 0;
  z-index: 9999;
}

.navbar .logo {
  /* border: 1px solid black; */
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: center;
}

.navbar .logo img {
  /* border: 1px solid black; */
  position: relative;
  width: 150px;
  bottom: -3px;
}

.navbar-isi {
  /* border: 1px solid black; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-isi ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar-isi li {
  padding: 7px;
  font-size: 1.2rem;
}

.navbar-isi li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .navbar .logo img {
    width: 120px;
  }

  .navbar-isi li {
    font-size: 0.7rem;
  }
}

.navbar-isi li:hover {
  cursor: pointer;
  background-color: rgba(138, 136, 136, 0.208);
  border-radius: 10px;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.hubungi-wa {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #29b43d;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  z-index: 9998;
}

.hubungi-wa:hover {
  background-color: #1e922f;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
  border: 2px solid white;
}

.hubungi-wa-teks {
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
  height: 100%;
  width: 70%;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
}

.hubungi-wa-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  /* border: 2px solid black; */
}

.hubungi-wa-logo img {
  width: 40%;
}

#profil {
  min-height: 100vh;
  background-image: url("/assets/image/kantor_awal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
}

#profil h1 {
  color: white;
  margin-bottom: 0;
}

#profil h1 span {
  color: orange;
}

#profil p {
  position: relative;
  color: white;
  font-size: 0.8rem;
  max-width: 50%;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
}

#profil a {
  text-decoration: none;
  color: white;
  background-color: #1fb9e8;
  padding: 12px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

#profil a:hover {
  background-color: #17a3cd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
  border: 2px solid white;
}

#tentang-kami {
  display: flex;
  min-height: 100vh;
  background-image: url("/assets/image/kantor.png");
  background-color: orange;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tentang-kiri {
  margin-left: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  /* border: 3px solid orange; */
  color: white;
  font-size: 2rem;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
}

.tentang-kiri span {
  position: relative;
  color: orange;
}

.tentang-kiri span::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: -140px;
  height: 10px;
  width: 55%;
  background-color: orange;
}

.tentang-kanan {
  text-align: justify;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 60%;
  height: 100vh;
  /* border: 3px solid orange; */
  color: white;
  font-size: 0.85rem;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
  animation: darikanan 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.tentang-kanan div {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.637);
  box-shadow: 7px 7px 10px rgba(54, 53, 53, 0.756);
  box-shadow: -7px -7px 10px rgba(54, 53, 53, 0.756);
  padding: 7px 30px;
  border-radius: 30px;
}

.tentang-kanan span {
  font-size: 1.5rem;
}

footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9em;
}

.whatsapp-btn {
  background-color: #25d366;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
  border-top: 1px solid #333;
  padding-top: 10px;
  text-align: center;
}

#latar-belakang {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latar-foto {
  height: 100vh;
  /* border: 2px solid black; */
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 40px;
  box-sizing: border-box;
}

.latar-foto img {
  width: 37%;
  height: 80%;
  object-fit: cover;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.latar-foto img:nth-child(1) {
  margin-top: 70px;
  animation: darikiri 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.latar-foto img:nth-child(2) {
  animation: daribawah 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.latar-teks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -40px;
  height: 100vh;
  width: 50%;
  /* border: 2px solid black; */
  text-align: justify;
  animation: darikanan 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.latar-teks h1 {
  color: #123879;
  font-size: 2.3rem;
}

.latar-teks p {
  max-width: 80%;
}

.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  color: #123879;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
}

#nilai-inti {
  min-height: 100vh;
  background-color: white;
  /* border: 2px solid black; */
}

.semua-point {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.point {
  padding: 20px 40px;
  box-sizing: border-box;
  width: 50%;
  background-color: #86a9e5;
  margin: 20px 10px 0;
}

.point:nth-child(odd) {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 80px;
  animation: darikanan 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.point:nth-child(even) {
  align-self: flex-end;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  animation: darikiri 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.point h1 {
  margin: 0;
}

#visi-misi {
  min-height: 100vh;
  /* border: 2px solid black; */
}

.visi-misi-teks {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 90vh;
  box-sizing: border-box;
  background-image: url(/assets/image/background_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 40px;
}

.visi-misi-teks p,
.visi-misi-teks ol {
  font-size: 0.8rem;
}

.visi,
.misi {
  min-height: 65%;
}

.visi {
  border-radius: 20px;
  width: 36%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(214, 212, 212);
  box-shadow: 6px 6px 7px rgba(59, 58, 58, 0.619),
    -1px -1px 10px rgba(59, 58, 58, 0.413);
  animation: darikiri 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.misi {
  border-radius: 20px;
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(214, 212, 212);
  box-shadow: 6px 6px 7px rgba(59, 58, 58, 0.619),
    -1px -1px 10px rgba(59, 58, 58, 0.413);
  animation: darikanan 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.visi h1,
.misi h1 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem;
  font-weight: 600;
}

.visi h1::before,
.misi h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 110%;
  width: 4px;
  background: #2980b9;
  border-radius: 2px;
}

.visi hr,
.misi hr {
  border: 0;
  height: 2px;
  background: #2980b9;
  margin: 0.8rem 0;
}

#goals {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#goals span {
  text-align: center;
  max-width: 65%;
}

.goals-isi {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 90vh;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 40px;
}

.goals-isi p,
.goals-isi ol {
  font-size: 0.8rem;
}

.strategic-card,
.tactical-card {
  min-height: 65%;
}

.strategic-card {
  border-radius: 20px;
  width: 40%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(214, 212, 212);
  box-shadow: 6px 6px 7px rgba(59, 58, 58, 0.619),
    -1px -1px 10px rgba(59, 58, 58, 0.413);
  animation: darikiri 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.tactical-card {
  border-radius: 20px;
  width: 40%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(214, 212, 212);
  box-shadow: 6px 6px 7px rgba(59, 58, 58, 0.619),
    -1px -1px 10px rgba(59, 58, 58, 0.413);
  animation: darikanan 1s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.strategic-card h1,
.tactical-card h1 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem;
  font-weight: 600;
}

.strategic-card h1::before,
.tactical-card h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 110%;
  width: 4px;
  background: #2980b9;
  border-radius: 2px;
}

.strategic-card hr,
.tactical-card hr {
  border: 0;
  height: 2px;
  background: #2980b9;
  margin: 0.8rem 0;
}

@media (max-width: 768px) {
  .navbar .logo img {
    width: 120px;
  }

  .navbar-isi li {
    font-size: 0.7rem;
  }

  #profil {
    font-size: 1.2rem;
  }

  #profil p {
    position: relative;
    color: white;
    font-size: 0.7rem;
    max-width: 70%;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
  }

  #profil a {
    padding: 7px 25px;
    font-size: 0.9rem;
  }

  #profil a:hover {
    background-color: #17a3cd;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
    border: 2px solid white;
  }

  #tentang-kami {
    flex-direction: column;
  }

  .tentang-kiri {
    font-size: 1.2rem;
    height: 200px;
    width: 100%;
    margin-left: 0;
  }

  .tentang-kanan {
    width: 100%;
    font-size: 0.75rem;
  }

  .banner {
    font-size: 1.2rem;
  }

  .visi-misi-teks {
    flex-direction: column;
  }

  .visi-misi-teks p,
  .visi-misi-teks ol {
    font-size: 0.75rem;
  }

  .visi,
  .misi {
    width: 90%;
  }

  .visi h1,
  .misi h1 {
    font-size: 1.3rem;
  }

  #latar-belakang{
    flex-direction: column;
  }

  .latar-foto{
    width: 100%;
    height: auto;
  }

  .latar-foto img{
    width: 30%;
    height: 40%;
  }

  .latar-teks{
    width: 90%;
    height: auto;
    top: 0;
  }

  .latar-teks h1{
    font-size: 1.5rem;
  }

  .latar-teks p{
    max-width: 100%;
  }


  .point{
    width: 90%;
  }

  .point h1{
    font-size: 1.2rem;
  }

  .point p {
    font-size: 0.8rem;
  }

  #goals span {
    max-width: 80%;
    font-size: 0.8rem;
  }

  .goals-isi{
    flex-direction: column;
    height: auto;
    margin: 20px 0;
  }

  .strategic-card, .tactical-card{
    width: 95%;
    min-height: auto;
  }

  .footer-section h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.75em;
}

.footer-bottom {
  font-size: 0.75em;
}
}
